# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\ASM2_JAV101_TH04864\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
